<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="$root.contextPath/layui/css/layui.css" type="text/css">
		<script src="$root.contextPath/layui/jquery.min.js" type="text/javascript"></script>
		<script src="$root.contextPath/layui/layui.js" type="text/javascript"></script>
		<script type="text/javascript" src="$root.contextPath/layui/lay/modules/Ajax.js"></script>
		<script type="text/javascript" src="$root.contextPath/layui/lay/modules/LayResult.js"></script>
		<script type="text/javascript">
			//Demo
			layui.use(['form', 'laydate'], function() {
				var form = layui.form;
				var laydate = layui.laydate;
				//执行laydate实例
				lay('.test-date').each(function(){
					laydate.render({
						elem: this,
						format: 'yyyy-MM-dd',
						trigger: 'click'
					})
				})
				//监听提交
				form.on('submit(submitBtn)', function(data) {
					//判断数据是否存在
					var values = data.field;
					$.Request({
						url: "$root.contextPath/Activesoldier/Edit",
						data: values,
						success: function(result) {
							$.Result(result);
						}
					})
					return false;
				});
			});
		</script>
	</head>

	<body>
		<div class="layui-container">
			<form class="layui-form" action="" style="padding: 20px 0px;">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">军人姓名</label>
						<div class="layui-input-inline">
							<input type="text" name="SName" value="${activesoldier.SName}" required lay-verify="required" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">军人性别</label>
						<div class="layui-input-inline">
							<input type="text" name="SSex" value="${activesoldier.SSex}" required lay-verify="required" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">军人出生年月</label>
						<div class="layui-input-inline">
							<input type="text" name="sbirthday" value="${activesoldier.sbirthday}" id="sbirthday" required lay-verify="required" class="layui-input test-date">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">军人身份证</label>
						<div class="layui-input-inline">
							<input type="text" name="sidcard" value="${activesoldier.sidcard}" required lay-verify="required" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">军人入伍时间</label>
						<div class="layui-input-inline">
							<input type="text" name="SEnlistmentdate" value="${activesoldier.SEnlistmentdate}" id="SEnlistmentdate" required lay-verify="required" class="layui-input test-date">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">牺牲或病故时间</label>
						<div class="layui-input-inline">
							<input type="text" name="sacrificeDisDate" value="${activesoldier.sacrificeDisDate}" id="sacrificeDisDate"  class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">军人人员类别</label>
						<div class="layui-input-inline">
							<input type="text" name="SPersonnelType" value="${activesoldier.SPersonnelType}" required lay-verify="required" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">家属联系电话</label>
						<div class="layui-input-inline">
							<input type="text" name="FTelNumber" value="${activesoldier.FTelNumber}" required lay-verify="required" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">军人联系电话</label>
						<div class="layui-input-inline">
							<input type="text" name="STelNumber" value="${activesoldier.STelNumber}" required lay-verify="required" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">优抚补助情况</label>
						<div class="layui-input-inline">
							<input type="text" name="specialsituation" value="${activesoldier.specialsituation}" required lay-verify="required" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<input type="hidden" value="${activesoldier.Id}" name="Id">
						<label class="layui-form-label">所在街道</label>
						<div class="layui-input-inline">
							<input type="text" name="street" required lay-verify="required" value="${activesoldier.street}" placeholder="所在街道" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">所在社区</label>
						<div class="layui-input-inline">
							<input type="text" name="community" required lay-verify="required" value="${activesoldier.community}" placeholder="所在社区" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">家属姓名</label>
						<div class="layui-input-inline">
							<input type="text" name="FName" value="${activesoldier.FName}" required lay-verify="required" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">家属类别</label>
						<div class="layui-input-inline">
							<input type="text" name="ftype" value="${activesoldier.ftype}" required lay-verify="required" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">家属性别</label>
						<div class="layui-input-inline">
							<input type="text" name="FSex" value="${activesoldier.FSex}" required lay-verify="required" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">家属出生年月</label>
						<div class="layui-input-inline">
							<input type="text" name="fbirthday" value="${activesoldier.fbirthday}" id="fbirthday" required lay-verify="required" class="layui-input test-date">
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">家属身份证</label>
						<div class="layui-input-inline">
							<input type="text" name="fidcard" value="${activesoldier.fidcard}" required lay-verify="required" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">家属户籍地</label>
						<div class="layui-input-inline">
							<input type="text" name="FDomicile" value="${activesoldier.FDomicile}" required lay-verify="required" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">家属地址</label>
						<div class="layui-input-inline">
							<input type="text" name="FAddress" value="${activesoldier.FAddress}" required lay-verify="required" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">与军人关系</label>
						<div class="layui-input-inline">
							<input type="text" name="FIsSoldier" value="${activesoldier.FIsSoldier}" required lay-verify="required" class="layui-input">
						</div>
					</div>
				</div>
				
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">备注</label>
						<div class="layui-input-inline">
							<input type="text" name="remark" value="${activesoldier.remark}" required lay-verify="" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block" style="margin-right: 65px;text-align: right;">
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						<button class="layui-btn" lay-submit lay-filter="submitBtn">立即提交</button>
					</div>
				</div>
			</form>
		</div>
	</body>

</html>