<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="$root.contextPath/layui/css/layui.css" type="text/css">
		<script src="$root.contextPath/layui/jquery.min.js" type="text/javascript"></script>
		<script src="$root.contextPath/layui/layui.js" type="text/javascript"></script>
		<script type="text/javascript" src="$root.contextPath/layui/lay/modules/Ajax.js"></script>
		<script type="text/javascript" src="$root.contextPath/layui/lay/modules/LayResult.js"></script>
		<script type="text/javascript">
			//Demo
			layui.use(['form'], function() {
				var form = layui.form;
				//监听提交
				form.on('submit(submitBtn)', function(data) {
					//判断数据是否存在
					var values = data.field;
					$.Request({
						url: "$root.contextPath/Partydpt/Edit",
						data: values,
						success: function(result) {
							$.Result(result);
						}
					})
					return false;
				});
			});
		</script>
	</head>

	<body>
		<div class="layui-container">
			<form class="layui-form" action="" style="padding: 20px 0px;">
				<div class="layui-form-item">
					<div class="layui-inline">
						<input type="hidden" value="${partydpt.Id}" name="Id">
						<label class="layui-form-label">所属支部</label>
						<div class="layui-input-inline">
							<select name="ParentId">
								<option value="0">请选择</option>
								#foreach($pardptitem in $partydpts) #if($partydpt.ParentId==$pardptitem.Id)
								<option value="$pardptitem.Id" selected="selected">$pardptitem.dptName</option>
								#else
								<option value="$pardptitem.Id">$pardptitem.dptName</option>
								#end #end
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">部门名称</label>
						<div class="layui-input-inline">
							<input type="text" name="dptName" required lay-verify="required" value="${partydpt.dptName}" placeholder="部门名称" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">部门负责人</label>
						<div class="layui-input-inline">
							<input type="text" name="dptHead" value="${partydpt.dptHead}" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">联系电话</label>
						<div class="layui-input-inline">
							<input type="text" name="contactNumber" value="${partydpt.contactNumber}"  class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">联系地址</label>
						<div class="layui-input-inline">
							<input type="text" name="address" value="${partydpt.address}"  class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">经度</label>
						<div class="layui-input-inline">
							<input type="text" name="longitude" value="${partydpt.longitude}"  class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">纬度</label>
						<div class="layui-input-inline">
							<input type="text" name="latitude" value="${partydpt.latitude}"  class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">描述</label>
						<div class="layui-input-inline">
							<input type="text" name="description" value="${partydpt.description}" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block" style="margin-right: 65px;text-align: right;">
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						<button class="layui-btn" lay-submit lay-filter="submitBtn">立即提交</button>
					</div>
				</div>
			</form>
		</div>
	</body>

</html>