<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="$root.contextPath/layui/css/layui.css" type="text/css">
		<script src="$root.contextPath/layui/jquery.min.js" type="text/javascript"></script>
		<script src="$root.contextPath/layui/layui.js" type="text/javascript"></script>
		<script type="text/javascript" src="$root.contextPath/layui/lay/modules/Ajax.js"></script>
		<script type="text/javascript" src="$root.contextPath/layui/lay/modules/LayResult.js"></script>
		<script type="text/javascript">
			//Demo
			layui.use(['form'], function() {
				var form = layui.form;
				//监听提交
				form.on('submit(submitBtn)', function(data) {
					//判断数据是否存在
					var values = data.field;
					if(values.parentId == "") {
						values.parentId = 0;
					}
					if(values.ismenu == undefined) {
						values.ismenu = false;
					} else {
						values.ismenu = true;
					}
					if(values.issystem == undefined) {
						values.issystem = false;
					} else {
						values.issystem = true;
					}
					$.Request({
						url: "$root.contextPath/Navigation/Edit",
						data: values,
						success: function(result) {
							$.Result(result);
						}
					})
					return false;
				});

				form.on('select(type)', function(data) {
					var value = data.value; //得到被选中的值 
					if(value == 0) {
						$("#parentdiv").hide();
						$("#parentId").removeAttr("lay-verify").removeAttr("required");
					} else {
						$("#parentdiv").show();
						$("#parentId").attr("lay-verify", "required").attr("required")
					}
				});

				if($navigation.parentId == 0) {
					$("#parentdiv").hide();
					$("#parentId").removeAttr("lay-verify").removeAttr("required");
				} else {
					$("#parentdiv").show();
					$("#parentId").attr("lay-verify", "required").attr("required")
				}
				
				
				if($navigation.ismenu) {
					$("#ismenu").siblings(".layui-form-switch").click();
				}
				if($navigation.issystem) {
					$("#issystem").siblings(".layui-form-switch").click();
				}
			});
		</script>
	</head>

	<body>
		<div class="layui-container">
			<form class="layui-form" action="" style="padding: 20px 0px;">
				<div class="layui-form-item">
					<div class="layui-inline">
						<input type="hidden" value="${navigation.Id}" name="Id">
						<input type="hidden" value="${navigation.addTime}" name="addTime">
						<input type="hidden" value="${navigation.isvalid}" name="isvalid">
						<input type="hidden" value="${navigation.isdelete}" name="isdelete">
						<label class="layui-form-label">类型</label>
						<div class="layui-input-inline">
							<select required lay-verify="required" lay-filter="type">
								<option value="">请选择类型</option>
								#if($navigation.parentId==0)
								<option value="0" selected="selected">父类型</option>
								#else
								<option value="0">父类型</option>
								#end #if($navigation.parentId>0)
								<option value="1" selected="selected">子类型</option>
								#else
								<option value="1">子类型</option>
								#end
							</select>
						</div>
					</div>
					<div class="layui-inline" id="parentdiv" style="display: none;">
						<label class="layui-form-label">父类型</label>
						<div class="layui-input-inline">
							<select name="parentId" id="parentId" required lay-verify="required">
								<option value="">请选择父类型</option>
								#foreach($nav in $navigations) #if($navigation.parentId==$nav.Id)
								<option value="$nav.Id" selected="selected">$nav.navigationName</option>
								#else
								<option value="$nav.Id">$nav.navigationName</option>
								#end #end
							</select>
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">导航名称</label>
						<div class="layui-input-inline">
							<input type="text" name="navigationName" value="${navigation.navigationName}" required lay-verify="required" placeholder="请输入导航名称" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">导航地址</label>
						<div class="layui-input-inline">
							<input type="text" name="url" value="${navigation.url}" placeholder="请输入导航地址" autocomplete="off" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">是否导航</label>
						<div class="layui-input-block">
							<input type="checkbox" id="ismenu" name="ismenu" value="" lay-skin="switch" lay-text="是|否">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">系统菜单</label>
						<div class="layui-input-block">
							<input type="checkbox" id="issystem" name="issystem" value="" lay-skin="switch" lay-text="是|否">
						</div>
					</div>
				</div>
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">导航说明</label>
					<div class="layui-input-block">
						<textarea name="description" placeholder="请输入内容" class="layui-textarea" style="width: 515px;">${navigation.description}</textarea>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block" style="margin-right: 65px;text-align: right;">
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						<button class="layui-btn" lay-submit lay-filter="submitBtn">立即提交</button>
					</div>
				</div>
			</form>
		</div>
	</body>

</html>