<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>导航管理</title>
		<script type="text/javascript" src="$root.contextPath/layui/lay/modules/dialog.js"></script>
	</head>

	<body>
		<div class="layui-row" id="condition" style="padding: 20px 0px 0px 0px;">
			<div class="layui-col-md11">
				<form class="layui-form" action="">
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">导航名</label>
							<div class="layui-input-inline">
								<input type="text" name="navigationName" value="" placeholder="请输入导航名" class="layui-input">
							</div>
						</div>
						<div class="layui-inline" style="margin-right: 65px;text-align: right;">
							<button class="layui-btn" lay-submit lay-filter="submitBtn"><i class="layui-icon">&#xe615;</i></button>
						</div>
					</div>
				</form>
			</div>
			<div class="layui-col-md1">
				<div class="layui-btn-group">
					<button class="layui-btn layui-btn-normal" onclick="add();"><i class="layui-icon"><i class="layui-icon">&#xe654;</i></i>增加</button>
				</div>
			</div>
		</div>
		<table id="table" lay-filter="table"></table>
		<script type="text/javascript">
			var tableInstance;
			layui.use(['table', 'form', 'laydate'], function() {
				var table = layui.table;
				var laydate = layui.laydate;
				var form = layui.form;
				laydate.render({
					elem: '#birthDay'
				});
				tableInstance = table.render({
					elem: '#table',
					page: true, //开启分页
					limits: [30, 60, 90, 150, 300],
					limit: 30,
					url: '$root.contextPath/Navigation/Navigations',
					height: 'full-335',
					cols: [
						[{
							space: true
						}, {
							field: 'Id',
							title: 'ID',
							width: 80,
							sort: true
						}, {
							field: 'navigationName',
							title: '导航名',
							width: 120
						}, {
							field: 'url',
							title: '地址',
							width: 120
						}, {
							field: 'addTime',
							title: '添加时间',
							width: 120
						}, {
							field: 'isvalid',
							title: '状态',
							width: 150,
							templet: '#isvalidTpl'
						}, {
							title: '操作',
							fixed: 'right',
							width: 160,
							align: 'center',
							toolbar: '#actonBar'
						}]
					]
				});

				//监听工具条
				table.on('tool(table)', function(obj) {
					var data = obj.data; //获得当前行数据
					var layEvent = obj.event; //获得 lay-event 对应的值
					if(layEvent === 'del') { //删除
						layer.confirm('确定要删除导航名为：' + data.navigationName + '的导航吗？', function(index) {
							$.post("$root.contextPath/Navigation/Delete", {
								Id: data.Id
							}, function(result) {
								if(result.ResultType == "Success") {
									tableInstance.reload();
									layer.msg(result.Message, {
										icon: 1
									});
								} else {
									layer.msg(Result.Message, {
										icon: 5,
										anim: 6
									});
								}
							});
							layer.close(index);
							//向服务端发送删除指令
						});
					} else if(layEvent === 'edit') { //编辑
						//do something
						//页面层
						$.dialog({
							title: '导航编辑',
							area: ['720px', '420px'],
							content: ['$root.contextPath/Navigation/Edit/' + data.Id, 'no'],
							end: function() {
								var reslut = $("#dialogresult").val();
								if(reslut) {
									tableInstance.reload();
									$("#dialogresult").val("");
								}
							}
						});
					}
				});
				//监听单元格编辑
				table.on('edit(table)', function(obj) {
					var value = obj.value //得到修改后的值
						,
						data = obj.data //得到所在行所有键值
						,
						field = obj.field; //得到字段 
					$.post("$root.contextPath/Navigation/EditField", {
						Id: data.Id,
						field: field,
						value: value
					}, function(result) {
						if(result.ResultType == "Success") {
							tableInstance.reload();
							layer.msg(result.Message, {
								icon: 1
							});
						} else {
							layer.msg(Result.Message, {
								icon: 5,
								anim: 6
							});
						}
					});
				});
				//查询提交
				form.on('submit(submitBtn)', function(data) {
					tableInstance.reload({
						where: data.field
					});
					return false;
				});
			});

			function add() {
				$.dialog({
					title: '导航添加',
					area: ['720px', '420px'],
					content: ['$root.contextPath/Navigation/Edit/0', 'no'],
					end: function() {
						var reslut = $("#dialogresult").val();
						if(reslut) {
							tableInstance.reload();
							$("#dialogresult").val("");
						}
					}
				});
			}
		</script>
		<script type="text/html" id="actonBar">
			<!-- <a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="detail">查看</a>-->
			<a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
			<a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
		</script>
		<script type="text/html" id="isvalidTpl">
			{{# if(d.isvalid){ }} 有效 {{# } else { }} 无效 {{# } }}
		</script>
	</body>

</html>